In [17]:
import pandas as pd

In [18]:
# Read in the data
df = pd.read_csv('../data/retail_sales.csv')
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,9796,CA-2017-125920,21/05/2017,28/05/2017,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,Chicago,Illinois,60610.0,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980
9796,9797,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680
9797,9798,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880
9798,9799,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760
9799,9800,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840

In [19]:
num_products = df['Product ID'].nunique()
print(f"There are {num_products} unique products in the dataset.")

There are 1861 unique products in the dataset.

In [4]:
# Convert date columns to datetime format
df['Order Date'] = pd.to_datetime(df['Order Date'])

/var/folders/44/0wp3m6953qq8ht7m3krhf89c0000gn/T/ipykernel_30455/4252880889.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['Order Date'] = pd.to_datetime(df['Order Date'])

In [5]:
# Check for missing values
print(df.isnull().sum())

Row ID            0
Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
Country           0
City              0
State             0
Postal Code      11
Region            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Sales             0
dtype: int64

In [7]:
# Drop irrelevant columns
df.drop(['Row ID', 'Product ID', 'Order ID', 'Customer ID', 'Customer Name', 'Postal Code', 'Ship Date', 'Ship Mode', 'Segment', 'Country', 'City'], axis=1, inplace=True)

In [8]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
9795    False
9796    False
9797    False
9798    False
9799    False
Length: 9800, dtype: bool

In [9]:
df

,Order Date,State,Region,Category,Sub-Category,Product Name,Sales
0,2017-08-11,Kentucky,South,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2017-08-11,Kentucky,South,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,2017-12-06,California,West,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,2016-11-10,Florida,South,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,2016-11-10,Florida,South,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680
...,...,...,...,...,...,...,...
9795,2017-05-21,Illinois,Central,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980
9796,2016-12-01,Ohio,East,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680
9797,2016-12-01,Ohio,East,Technology,Phones,GE 30524EE4,235.1880
9798,2016-12-01,Ohio,East,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760
9799,2016-12-01,Ohio,East,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840

In [10]:

# Group by 'Category', 'Sub-Category' and 'Order Date', then count the number of sales
df = df.groupby(['Category', 'Sub-Category', 'Order Date']).size().reset_index(name='Sales Count')

# Display the result
df

        Category Sub-Category Order Date  Sales Count
0      Furniture    Bookcases 2015-01-13            1
1      Furniture    Bookcases 2015-01-14            1
2      Furniture    Bookcases 2015-01-19            1
3      Furniture    Bookcases 2015-01-26            1
4      Furniture    Bookcases 2015-01-31            1
...          ...          ...        ...          ...
6475  Technology       Phones 2018-12-25            1
6476  Technology       Phones 2018-12-27            1
6477  Technology       Phones 2018-12-28            1
6478  Technology       Phones 2018-12-29            1
6479  Technology       Phones 2018-12-30            1

[6480 rows x 4 columns]

In [11]:
from sklearn.preprocessing import LabelEncoder

# Create a LabelEncoder object
le = LabelEncoder()

# Fit and transform the 'Sub-Category' column
df['Sub-Category'] = le.fit_transform(df['Sub-Category'])

df['Category'] = le.fit_transform(df['Category'])

In [12]:
df

      Category  Sub-Category Order Date  Sales Count
0            0             4 2015-01-13            1
1            0             4 2015-01-14            1
2            0             4 2015-01-19            1
3            0             4 2015-01-26            1
4            0             4 2015-01-31            1
...        ...           ...        ...          ...
6475         2            13 2018-12-25            1
6476         2            13 2018-12-27            1
6477         2            13 2018-12-28            1
6478         2            13 2018-12-29            1
6479         2            13 2018-12-30            1

[6480 rows x 4 columns]

In [13]:
train = df[df['Order Date'].dt.year.isin([2015, 2016, 2017])]
test = df[df['Order Date'].dt.year == 2018]

In [14]:
train.to_csv('../data/processed_data/train_data.csv', index=False)
test.to_csv('../data/processed_data/test_data.csv', index=False)